openai==0.27.0
torch==1.13.1
pandas==1.5.2
torchtext==0.14.1
wikipedia==1.4.0
Wikipedia-API==0.5.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl